.title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-black);
    text-align: center;
}
.subtitle{
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-black);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

i{
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    text-decoration: none;
}
