/* VIEWPORT */
.content{
    max-height: 100dvh;
}

/* USER VIEW */
#panel_user{
    width: 100%;
    height: calc(100dvh - 60px - (2 * var(--page-padding)));
    position: relative;
}

#panel_user #transactions{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 var(--page-padding) var(--page-padding) var(--page-padding);
}

#panel_user #transactions > div{
    width: 100%;
    max-width: 318px; /*var(--size-threshold);*/
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: var(--shadow);
    justify-content: flex-start;
    background-color: white;
    font-size: 1rem;
    color: black;
    position: relative;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid transparent;
    user-select: none;
}

#panel_user #transactions > div > span:first-child{
    margin-right: 10px;
    color: var(--primary-color);
    background-color: var(--primary-color-lighter);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
#panel_user #transactions > div > span:last-child {
    content: "arrow_forward_ios";
    font-family: 'Material Symbols Outlined';
    font-size: 22px;
    color: var(--primary-color);
    position: absolute;
    right: 20px;
}

#panel_user > .card{
    position: absolute;
    left: 50%;
    bottom: var(--page-padding);
    transform: translateX(-50%);
}