/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL STYLES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* VARIABLES */
:root{
    --primary-color: #E15757;
    --primary-color-transparent: color-mix(in srgb, var(--primary-color), transparent 50%);
    --primary-color-darker: color-mix(in srgb, var(--primary-color), black 20%);
    --primary-color-lighter: color-mix(in srgb, var(--primary-color), white 92%);
    
    --secondary-color-lighter: #E6EEF9;

    --error-color: #cc0000;

    --page-padding: 10vw; /* NE PAS METTRE DE POURCENTAGE, trop dépendant du contexte */

    --shadow: 0px 0px 23.3px -10px rgba(0, 0, 0, 0.25);

    --size-threshold: 600px; 
}
@media (min-width: 650px) {
    :root {
        --page-padding: 50px;
    }
}

/* MAIN BACKGROUND */
body{
    width: 100%;
    min-height: 100dvh;
    background: linear-gradient(to top right, var(--primary-color-lighter) 50%, var(--secondary-color-lighter));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Nunito", serif;
    font-size: 2vw;
}

/* CONTAINER */
section.content{
    width: 100%;
    min-height: 100dvh;
}

/* FONTS */
h2{
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
h1{
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: normal;
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

/* TOP SECTION */
section.top{
    padding: var(--page-padding);
    width: 100%;
}

/* INPUTS */
input, button, textarea{
    transition-duration: 0.2s;
    outline: none;
    border: none;
    font-size: 1rem;
}
input:focus, button:focus, textarea:focus {
    box-shadow: 0 0 0px 4px var(--primary-color-transparent);
}

.wide{
    width: 100%;
}

/* BUTTON */
.icon{
    font-family: 'Material Symbols Outlined';
}
.btn-white > span.icon, .btn-red > span.icon{
    font-size: 1.5rem;
    min-width: 50px;
    min-height: 50px;
}
.btn-white, .btn-red{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-red{
    background-color: var(--primary-color);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    justify-content: center;
}
.btn-red:hover{
    background-color: var(--primary-color-darker);
}
.btn-red > span{
    margin-right: 10px;
    min-height: 0 !important;
    min-width: 0 !important;
}
.btn-red.only-icon{
    padding: 15px;
}
.btn-red.only-icon > span{
    margin: 0;
}

.btn-white{
    box-shadow: var(--shadow);
    justify-content: flex-start;
    background-color: white;
    font-size: 1rem;
    color: black;
    position: relative;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid transparent;
    cursor: pointer;
}
.btn-white > span{
    margin-right: 10px;
    color: var(--primary-color);
    background-color: var(--primary-color-lighter);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-white:hover, .btn-white:focus{
    border: 3px solid var(--primary-color)
}
.btn-white::after {
    content: "arrow_forward_ios";
    font-family: 'Material Symbols Outlined';
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    color: var(--primary-color);
    position: absolute;
    right: 20px;
}
.btn-white.no-arrow::after{
    display: none;
}
.btn-white.only-icon > span{
    margin: 0;
    background-color: transparent;
}
.btn-white.only-icon{
    padding: 0;
}

/* INPUT */
input, textarea{
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #e7e7e7;
    box-shadow: 0px 0px 23.3px -10px rgba(0, 0, 0, 0.25);
}
input::placeholder, textarea::placeholder{
    color: #ADADAD;
}
input:focus, textarea:focus{
    border: 2px solid var(--primary-color);
}

/* LOADER */
#loader {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100vw;
    --c: no-repeat linear-gradient(var(--primary-color) 0 0);
    background: var(--c),var(--c),var(--primary-color-lighter);
    background-size: 60% 100%;
    animation: l16 2s infinite;
}
@keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
}

/* BACK */
#back{
    position: fixed;
    top: var(--page-padding);
    left: var(--page-padding);
}