/* NO NFC */
#update_nonfc_modal .url{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 15px 15px 15px 30px;
    background-color: #EEE;
    border-radius: 5px;
    max-width: 100%;
    overflow-x: auto;
}
#update_nonfc_modal .url p{
    font-family: 'Consolas', monospace;
    font-size: 1rem;
    white-space: nowrap;
}