/* NO NFC */
#update_nonfc_modal .url{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 10px 10px 20px;
    background-color: #EEE;
    border-radius: 5px;
    max-width: 100%;
    overflow-x: auto;
}
#update_nonfc_modal .url p{
    font-family: 'Consolas', monospace;
    font-size: 1rem;
    white-space: nowrap;
}
#update_nonfc_modal .url button{
    width: 45px;
    height: 45px;
}
#update_nonfc_modal .url button > span{
    font-size: 17px;
}